{% load static %}
<!doctype html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>Global country data</title>

  <!-- Flatdoc -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/legacy.js'></script>
  <script src='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/flatdoc.js'></script>

  <!-- Flatdoc theme -->
  <link href='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/theme-white/style.css' rel='stylesheet'>
  <script src='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/theme-white/script.js'></script>

  <!-- Meta -->
  <meta content="Global country data" property="og:title">
  <meta content="Get information on any country, from population and languages to currencies and more via restful api."
    name="description">
  <meta name="keywords" content="global,rest,api,countries,world,json">
  <meta name="author" content="Ramesh Kumar">

  <!-- Initializer -->
  <script>
    Flatdoc.run({
      fetcher: Flatdoc.file("{% static 'Docs.md' %}")
    });
  </script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S2TG2JR5DB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-S2TG2JR5DB');
</script>

<body role='flatdoc'>

  <div class='header'>
    <div class='left'>
      <h1>Global Country Data</h1>
      <ul>
        <li><a href='https://github.com/rameshjs/countries_data'>View on GitHub</a></li>
        <li><a href='https://github.com/rameshjs/countries_data/issues'>Issues</a></li>
      </ul>
    </div>
  </div>

  <div class='content-root'>
    <div class='menubar'>
      <div class='menu section' role='flatdoc-menu'></div>
    </div>
    <div role='flatdoc-content' class='content'></div>
  </div>

</body>

</html>